
#closeButtonModal  {
    font-size: 30px;
    padding-left: 10px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #d68bd2;
    gap: 100px;
    padding-top: 20px;
}

#input-container {
    display: flex;
    flex-direction: column;    
    gap: 10px;
}

#input-title{
    color:black;
    font-size: 26px;
    text-transform: uppercase;
}

#input-full-Name{
    width: 200px;
    height: 50px;
    border-radius: 8px;
}

#input-full-Name {
    font-size: 14px;
    padding-left: 5px;
}

.submit{
    width: 200px;
    height: 50px;
    background-color:#d68bd2;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    font-size: 20px;
}