* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.all-navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 65px;
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	box-shadow: 0px 0px 25px hsla(0, 0%, 69%, 1.25);
	overflow-y: hidden;
	letter-spacing: 0.67px;
	background-color: white;
}

.navbar-left-side {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 25px;
	font-size: 20px;
	height: 100%;
}

.burger-icon{
    display: none;
}

.logo-icon-mobile {
	display: none;
}

.navbar-right-side {
	display: flex;
	flex-direction: row;
	gap: 15px;
	font-size: 18px;
	padding-right: 2%;
	height: 100%;
	align-items: center;
}

.log-in {
	color: white;
}

#sign-up {
	width: 140px;
	height: 30px;
	border-radius: 20px;
	text-align: center;
	background-color: #d68bd2;
	color: white;
}

.logo-icon {
	height: 100px;
}
.logo-icon:hover {
	cursor: pointer;
}

@media (min-width: 375px) and (max-width: 700px) {    

	.all-navbar {
		justify-content: center;
	}

	.navbar-right-side{
		display: none;
	}

	.navbar-left-side {
		display: none;
	}

	.logo-icon-mobile {
		display: flex;
		height: 100px;
	}

	.burger-icon{
		display: flex;
		cursor: pointer;
		position: absolute;
		top: 15px;		
		margin-left: 5%;
        height: 30px;
		border: none;
		background-color: white;
		border-radius: 2px;
		align-items: center;
		justify-content: center;
	}

}