* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.all-navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 65px;
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	box-shadow: 0px 0px 25px hsla(0, 0%, 69%, 1.25);
	overflow-y: hidden;
	letter-spacing: 0.67px;
	z-index: 1;
}

.navbar-left-side {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 25px;
	font-size: 20px;
	height: 100%;
}

.navbar-right-side {
	display: flex;
	flex-direction: row;
	gap: 30%;
	font-size: 18px;
	padding-right: 2%;
	height: 100%;
	align-items: center;
}

.log-in {
	color: white;
}

#sign-up {
	width: 140px;
	height: 30px;
	border-radius: 20px;
	text-align: center;
	background-color: #d68bd2;
	color: white;
}

.logo-icon {
	height: 100px;
}
