.ShareSpace {
	background-color: #d68bd20f;
	width: 100%;
	height: 100vh;
}

.subjects-card-container {
	padding: 15px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-items: center;
	justify-items: center;
}
