.answer-card {
	display: flex;
	flex-direction: column;
	width: 95%;
	border: 1px solid #d68bd2;
	border-radius: 8px;
	box-shadow: 2px 0px 3px hsla(0, 0%, 69%, 1.25);
	background-color: #d68bd247;
	padding: 10px;
	background-repeat: no-repeat;
	background-size: cover;
}

.answer-header {
	font-weight: 300;
	letter-spacing: 0.37px;
	line-height: 26px;
	font-size: 21px;
	text-transform: uppercase;
	width: fit-content;
}

.answer-username {
	background-image: url("../../../assets/icons/user.svg");
	font-size: 13px;
	background-repeat: no-repeat;
	padding-left: 20px;
	background-size: 14px;
	display: flex;
	align-items: center;
	margin-top: 5px;
}

.answer-title {
	padding-top: 10px;
	font-size: 18px;
}
