.information-add-tip {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #d68bd2;
    gap: 20px;
    padding-top: 20px;
}