.no-access-container{
    display: flex;
    flex-direction: column;
    align-items: center;
	text-align: center;
}

.no-access-icon{
    width: 200px;
}

.not-found {
    font-size: 30px;
}

.to-hp-button {
	border: 0.5px solid #ecd4eb;
    background-color: #ecd4eb;
	color: black;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2.67px;
	text-transform: uppercase;
	width: 150px;
	text-align: center;
	border-radius: 4px;
	height: 50px;
}