@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

.App {
	text-align: center;
}

body {
	font-family: "Anton", sans-serif;
	font-weight: 400;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

/* width */
body::-webkit-scrollbar {
	width: 100%;
}

/* Track */
body::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
body::-webkit-scrollbar-thumb {
	background: transparent;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
	background: transparent;
}
