.form-container {
    height: 500px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    min-height: 72vh;
}

.add-students-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    /* border: 1px solid grey; */
    width: 60%;
    height:400px;
    border-radius: 5px;
    box-shadow: 2px 0px 3px hsla(0, 0%, 69%, 1.25);
	background-color: #ecd4eb47;
}

.add-students-title {
    font-family: "Anton", sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center
}

.first-name-input {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    padding-left: 5px;
}
.last-name-input {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    padding-left: 5px;
}
.email-input {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    padding-left: 5px;
}